.emailid{
    font-family: 'Exo 2', sans-serif;
    width: 60%;
    height: 50px;
    border: 1px solid #ABABAB;
    border-radius: 8px;
    
}
.btn{
    font-family: 'Exo 2', sans-serif;
    font-size: larger;
    font-weight: 300;
    width: 110px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #EA7B2C;
    color: white;
    margin-left: 20px;
}
.error {
    color: red;
    margin-top: 5px;
  }
  .msg {
    color: green;
    margin-top: 5px;
  } 


  button:hover{
    background-color: #e65c00;
  }